<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <script src="./lib/vue.js"></script>
  <link rel="stylesheet" href="./lib/bootstrap.css">
</head>

<body>
  <div id="app">
    <cmt-box @func="loadComments"></cmt-box>
    <ul class="list-group">
      <li class="list-group-item" v-for="item in list" :key="item.id">
        <span class="badge">评论人: {{item.user}}</span>
        {{item.content}}
      </li>
    </ul>
  </div>
  <script>

    var commentBox = {
      template: ` <div>
                    <div class="form-group">
                      <label>评论人:</label>
                      <input type="text" v-model="user" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>评论内容:</label>
                      <textarea v-model="content" class="form-control"></textarea>
                    </div>
                     <div class="form-group">
                      <input type="button" @click="postComment" value="发表评论" class="btn btn-primary">
                    </div>
                  </div>
                `,
      data: function () {
        return {
          content: '',
          user: ''
        }
      },
      methods: {
        postComment() {
          let comment = { id: Date.now(), user: this.user, content: this.content };

          let list = JSON.parse(localStorage.getItem('cmts') || '[]');

          list.unshift(comment)

          localStorage.setItem('cmts', JSON.stringify(list));

          this.user = this.content = '';

          this.$emit('func')
        }
      }
    }

    var vm = new Vue({
      el: '#app',
      data: {
        list: [
          // { id: Date.now(), user: '李白', content: '天生我材必有用' },
          // { id: Date.now(), user: '江小白', content: "劝君更尽一杯酒" },
          // { id: Date.now(), user: '小马', content: "我姓马,风吹草地现牛羊的马" },
        ],
      },
      methods: {
        loadComments() {
          this.list = JSON.parse(localStorage.getItem('cmts') || '[]');
        }
      },
      components: {
        'cmt-box': commentBox
      },
      created() {
        this.loadComments();
      },
    });
  </script>
</body>

</html>